<section
  id="contact"
  class="h-screen flex flex-col justify-center items-center text-secondary-gray relative space-y-8 snap-start"
>
  <a
    href="#tech"
    class="scrollButton absolute top-8 left-1/2 transform -translate-x-1/2 cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
    <div class="relative flex justify-center items-center">
      <!-- Efecto de sombra -->
      <div
        class="holdEffect absolute w-20 h-20 bg-green-600 rounded-full opacity-0 scale-0 hidden transition-all duration-1000 ease-out"
      >
      </div>

      <!-- Flecha -->
      <img
        src="/arrow-bottom.svg"
        alt="Flecha arriba"
        class="arrowIcon w-10 h-10 rotate-180 transition-opacity duration-500 ease-in-out"
      />

      <!-- Icono de verificación -->
      <img
        src="/icon-profile/icons8-home.png"
        alt="Verificado"
        class="verifiedIcon w-8 h-8 absolute opacity-0 scale-0 hidden transition-all duration-500 ease-out"
      />
    </div>
  </a>

  <div
    class="text-center max-w-2xl w-full p-6 bg-secondary-orange rounded-2xl shadow-lg"
  >
    <h1 class="text-4xl mb-2">CONTACTO</h1>
    <!-- Reducido margen inferior -->
    <p class="mb-4">Si deseas contactarme, completa el siguiente formulario:</p>
    <!-- Reducido margen inferior -->

    <form action="#" method="POST" class="flex flex-col space-y-3">
      <!-- Reducido el espacio entre los campos -->
      <label for="name" class="text-left">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        class="p-3 rounded-md text-black"
        placeholder="Tu nombre..."
      />

      <label for="email" class="text-left">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="p-3 rounded-md text-black"
        placeholder="Tu correo..."
      />

      <label for="message" class="text-left">Mensaje</label>
      <textarea
        id="message"
        name="message"
        rows="4"
        required
        class="p-3 rounded-md text-black"
        placeholder="Escribe tu mensaje aquí..."></textarea>

      <button
        type="submit"
        class="bg-secondary-gray text-primary-light px-6 py-3 rounded-lg hover:bg-gray-800 transition"
      >
        Enviar
      </button>
    </form>
  </div>
</section>
