---
import content from "../json/content.json";
import Carousel from "../components/other/Carousel.astro";
---

<section
  id="film"
  class="h-screen bg-primary-light snap-start flex items-center justify-center"
>
  <Carousel />
</section>
