<section class="bg-primary-dark text-white p-12">
  <div class="grid grid-cols-4 grid-rows-7 gap-5 container mx-auto h-screen">
    <div
      class="card music row-span-6 bg-primary-light rounded-2xl bg-cover bg-[url('/fondo_drummer.jpg')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-music text-4xl font-bold">SOUND/MUSIC</h1>
        <img
          src="/music.svg"
          alt="Music Icon"
          class="mt-4 w-48 h-48 rounded-2xl shadow-lg shadow-amber-300/40"
        />
        <p class="text-lg w-3/4 mt-8 text-center">
          En este apartado aparecerá todo lo que produzco y publico.
        </p>
      </div>
    </div>
    <div
      class="card row-span-6 bg-primary-light rounded-2xl bg-cover bg-[url('/fondo_film.webp')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-video text-3xl">VIDEO/PHOTO</h1>
        <img
          src="/film.svg"
          alt="Film Icon"
          class="mt-4 w-48 h-48 rounded-2xl shadow-lg shadow-amber-600/40"
        />
        <p class="text-lg w-3/4 mt-8 text-center">
          Aquí encontrarás momentos capturados a través de mi cámara.
        </p>
      </div>
    </div>
    <div
      class="card row-span-6 bg-primary-light rounded-2xl bg-cover bg-[url('/fondo_tech.webp')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-tech text-3xl font-bold">TECH</h1>
        <img
          src="/tech.svg"
          alt="Tech Icon"
          class="mt-4 w-48 h-48 rounded-2xl shadow-lg shadow-blue-400/40"
        />
        <p class="text-lg w-3/4 mt-8 text-center">
          En esta sección, compartiré otros proyectos tecnológicos.
        </p>
      </div>
    </div>
    <div class="row-span-2 card bg-cover bg-[url('/fondo_cielo.webp')]">
      <div class="card-content">
        <h1 class="name-web">mario collado</h1>
      </div>
    </div>
    <div
      class="card row-span-4 col-start-4 row-start-3 bg-primary-light rounded-2xl"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-contacto text-3xl font-bold">CONTACTO</h1>
        <img
          src="/email.svg"
          alt="Contact Icon"
          class="mt-4 w-48 h-48 rounded-2xl shadow-lg shadow-amber-100/40"
        />
        <p class="text-lg w-3/4 mt-8 text-center">
          Si deseas contactarme, aquí encontrarás cómo hacerlo.
        </p>
      </div>
    </div>
  </div>
</section>
