---
import Card from "./other/CardHome.astro";
import Profile from "./other/Profile.astro";
import cards from "../json/cards.json";
---

<section
  id="home"
  class="bg-primary-light text-primary-light p-12 h-screen snap-start"
>
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-rows-6 gap-5 container mx-auto h-full"
  >
    {cards.map((card) => <Card card={card} />)}
    <Profile />
  </div>
</section>
