---
import Film from "../components/Film.astro";
import Music from "../components/Music.astro";
import Contact from "../components/Contacto.astro";
import Tech from "../components/Tech.astro";
---

<section id="home" class="bg-primary-dark text-white p-12">
  <div class="grid grid-cols-4 grid-rows-7 gap-5 container mx-auto h-screen">
    <a
      href="#film"
      class="cursor-pointer card row-span-6 rounded-2xl bg-cover bg-[url('/fondo_camera2.jpg')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-video text-3xl">VIDEO/PHOTO</h1>
        <p class="text-lg w-3/4 mt-8 text-center drop-shadow-lg">
          Aquí encontrarás momentos capturados a través de mi cámara.
        </p>
      </div>
    </a>

    <a
      href="#music"
      class="cursor-pointer card row-span-6 rounded-2xl bg-cover bg-[url('/fondo_music3.jpg')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-music text-4xl font-bold">MUSIC</h1>
        <p class="text-lg w-3/4 mt-8 text-center">
          En este apartado aparecerá todo lo que produzco y publico.
        </p>
      </div>
    </a>

    <a
      href="#tech"
      class="cursor-pointer card row-span-6 rounded-2xl bg-cover bg-[url('/fondo_tech.jpg')]"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-tech text-4xl font-bold">TECH</h1>
        <p class="text-lg w-3/4 mt-8 text-center">
          En esta sección, compartiré otros proyectos tecnológicos.
        </p>
      </div>
    </a>

    <a href="#" class="row-span-2 card bg-cover bg-[url('/fondo_cielo.jpg')]">
      <div class="card-content">
        <h1 class="name-web">mario collado</h1>
      </div>
    </a>

    <a
      href="#contact"
      class="cursor-pointer card row-span-4 col-start-4 row-start-3 bg-secondary-red rounded-2xl"
    >
      <div class="flex flex-col justify-center items-center h-full">
        <h1 class="font-contacto text-3xl font-bold">CONTACTO</h1>
        <img
          src="/email.svg"
          alt="Contact Icon"
          class="mt-4 w-48 h-48 rounded-2xl shadow-lg shadow-neutral-400/40"
        />
        <p class="text-lg w-3/4 mt-8 text-center">
          Si deseas contactarme, aquí encontrarás cómo hacerlo.
        </p>
      </div>
    </a>
  </div>
</section>
