---
// src/components/Tech.astro
---

<section
  id="tech"
  class="h-screen flex flex-col justify-center items-center bg-primary-dark text-gray-800 relative space-y-8 snap-start"
>
  <!-- Flecha para volver a la sección anterior -->
  <a
    href="#music"
    class="scrollButton absolute top-8 left-1/2 transform -translate-x-1/2 cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
    <div class="relative flex justify-center items-center">
      <!-- Efecto de sombra -->
      <div
        class="holdEffect absolute w-20 h-20 bg-green-600 rounded-full opacity-0 scale-0 hidden transition-all duration-1000 ease-out"
      >
      </div>

      <!-- Flecha -->
      <img
        src="/arrow-bottom.svg"
        alt="Flecha arriba"
        class="arrowIcon w-10 h-10 rotate-180 transition-opacity duration-500 ease-in-out"
      />

      <!-- Icono de verificación -->
      <img
        src="/icon-profile/icons8-home.png"
        alt="Verificado"
        class="verifiedIcon w-8 h-8 absolute opacity-0 scale-0 hidden transition-all duration-500 ease-out"
      />
    </div>
  </a>

  <!-- Contenedor principal -->
  <div
    class="text-center max-w-2xl w-full p-8 bg-secondary-cyan rounded-2xl shadow-lg space-y-8"
  >
    <h1 class="text-4xl mb-4">TECH</h1>
    <p>
      Aquí puedes explorar algunos de mis proyectos y contribuciones en GitHub.
    </p>

    <!-- GitHub Stats -->
    <div
      class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-x-8 md:space-y-0"
    >
      <img
        src="https://github-readme-stats.vercel.app/api?username=MarioCollado&show_icons=true&theme=radical"
        alt="GitHub Stats"
        class="rounded-lg w-full md:w-auto"
      />
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=MarioCollado&layout=compact&theme=radical"
        alt="Top Languages"
        class="rounded-lg w-full md:w-auto"
      />
    </div>

    <!-- Botón de seguir en GitHub -->
    <a
      href="https://github.com/MarioCollado"
      target="_blank"
      class="bg-secondary-orange text-primary-light px-6 py-3 rounded-lg hover:bg-secondary-orange-strong transition"
    >
      Seguir en GitHub
    </a>
  </div>

  <!-- Flecha para ir a la siguiente sección -->
  <a
    href="#contact"
    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
    <img src="/arrow-bottom.svg" alt="Flecha abajo" class="w-10 h-10" />
  </a>
</section>
