---
// src/components/Tech.astro
---

<section
  id="tech"
  class="h-screen flex flex-col justify-center items-center bg-primary-dark text-gray-800 relative space-y-8 snap-start"
>
  <!-- Flecha para volver a la sección anterior -->
  <a
    href="#music"
    class="absolute top-8 left-1/2 transform -translate-x-1/2 cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
    <img
      src="/arrow-bottom-white.svg"
      alt="Flecha arriba"
      class="w-10 h-10 rotate-180"
    />
  </a>

  <!-- Contenedor principal -->
  <div
    class="text-center max-w-2xl w-full p-8 bg-white/10 rounded-2xl shadow-lg space-y-8"
  >
    <h1 class="text-4xl mb-4">TECH</h1>
    <p>
      Aquí puedes explorar algunos de mis proyectos y contribuciones en GitHub.
    </p>

    <!-- GitHub Stats -->
    <div
      class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-x-8 md:space-y-0"
    >
      <img
        src="https://github-readme-stats.vercel.app/api?username=MarioCollado&show_icons=true&theme=radical"
        alt="GitHub Stats"
        class="rounded-lg w-full md:w-auto"
      />
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=MarioCollado&layout=compact&theme=radical"
        alt="Top Languages"
        class="rounded-lg w-full md:w-auto"
      />
    </div>

    <!-- Botón de seguir en GitHub -->
    <a
      href="https://github.com/MarioCollado"
      target="_blank"
      class="bg-white text-secondary-blue-light px-6 py-3 rounded-lg font-bold hover:bg-neutral-200 transition"
    >
      Seguir en GitHub
    </a>
  </div>

  <!-- Flecha para ir a la siguiente sección -->
  <a
    href="#contact"
    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 cursor-pointer opacity-0 hover:opacity-100 transition-opacity duration-300"
  >
    <img src="/arrow-bottom-white.svg" alt="Flecha abajo" class="w-10 h-10" />
  </a>
</section>
