---
import Layout from "@/layouts/Layout.astro";

import Music from "@/components/Music.astro";
import Film from "@/components/Film.astro";
import Tech from "@/components/Tech.astro";
import Home from "@/components/Home.astro";
import Contacto from "@/components/Contacto.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <main
    class="h-screen overflow-y-scroll scroll-smooth snap-y snap-mandatory m-0 p-0"
  >
    <Home class="snap-start" />
    <Music class="snap-start" />
    <Film class="snap-start" />
    <Tech class="snap-start" />
    <Contacto class="snap-start" />
    <Footer class="snap-start" />
  </main>
</Layout>
