---
import Layout from "@/layouts/Layout.astro";
import Music from "@/components/Music.astro";
import Visuals from "@/components/Visuals.astro";
import Tech from "@/components/Tech.astro";
import Home from "@/components/Home.astro";
import Contacto from "@/components/Contacto.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <main
    class="h-screen overflow-y-scroll scroll-smooth snap-y snap-mandatory m-0 p-0"
  >
    <!-- Marca de agua fija -->
    <div
      class="fixed inset-0 flex items-center justify-center pointer-events-none z-1 w-full px-4"
    >
      <h1
        class="w-full max-w-full text-[min(20vw,180px)] font-bold font-druk text-transparent bg-clip-text bg-gradient-to-r from-secondary-pink/10 to-secondary-cyan/10 text-center"
      >
        mariocollado
      </h1>
    </div>
    <Home class="snap-start" />
    <Music class="snap-start" />
    <Visuals class="snap-start" />
    <Tech class="snap-start" />
    <Contacto class="snap-start" />
    <Footer class="snap-start" />
  </main>
</Layout>
