---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import "@fontsource/press-start-2p";
import "@fontsource/alfa-slab-one";
import "@fontsource/poiret-one";
import "@fontsource/monoton";
import "@fontsource/abril-fatface";

import "@/styles/global.css";

const { title = "mariocollado" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon_web.svg" />
    <title>{title}</title>
  </head>
  <body class="snap-y snap-proximity overflow-y-scroll h-screen">
    <slot /><!-- Aquí se renderizan las secciones -->
  </body>
</html>

<style>
  html,
  body {
    font-family: "Montserrat Variable", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
