---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import "@fontsource/press-start-2p";
import "@fontsource/alfa-slab-one";
import "@fontsource/poiret-one";
import "@fontsource/monoton";
import "@fontsource/abril-fatface";

import "/src/styles/global.css";

const { title = "mariocollado" } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-y-scroll scrollbar-none overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon_web.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-primary-light">
    <body> </body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
