@import "tailwindcss";

@theme {
  --color-primary-light: #FAFAFA;
  --color-primary-dark: #1F2937;
  --color-secondary-blue: #2563EB;
  --color-secondary-blue-light: #3B82F6;
  --color-secondary-green: #059669;
  --color-secondary-purple: #7C3AED;
  --color-secondary-orange: #EA580C;
  --color-secondary-pink: #DB2777;
  --color-neutral-600: #6B7280;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-zoom {
  overflow: hidden;
}