@import "tailwindcss"; /* Importa todo Tailwind CSS */

@theme {
  --color-primary-light: #FDFBD4;
  --color-secondary-red: #800000;
  --color-secondary-gray: #403F4C;
  --color-secondary-cyan: #07BEB8;
  --color-secondary-orange: #FF7F11;
  --color-secondary-orange-strong: #FF3F00;
}

html {
  scroll-behavior: smooth; /* Hace que el scroll sea suave */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari */
}

.scrollbar-none {
  -ms-overflow-style: none; /* Para IE y Edge */
  scrollbar-width: none; /* Para Firefox */
}

/* Tipografías personalizadas para cada sección */
.font-tech {
  font-family: 'Press Start 2P', system-ui;
}

.font-music {
  font-family: 'Abril Fatface', system-ui;
}

.font-video {
  font-family: 'Monoton', system-ui;
}

/* Estilo base de la tarjeta */
.card {
  @apply rounded-2xl bg-cover bg-center h-full;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform-origin: center;
  backface-visibility: hidden; /* Elimina flickering */
  will-change: transform, opacity; /* Optimiza las animaciones */
}

/* Hover: hacer que la tarjeta se haga más pequeña */
.card:hover {
  transform: scale(0.9); /* Reduce un 10% el tamaño */
}

/* Contenido dentro de la tarjeta */
.card-content {
  @apply flex flex-col justify-center items-center h-full rounded-2xl bg-black/30 text-white;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Mostrar el contenido al hacer hover */
.card:hover .card-content {
  opacity: 1;
  transform: translateY(0);
}
